name: "Enum Gen"

on:
  workflow_dispatch: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Fetch all tags
        run: git fetch --force --tags
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Tests
        env:
          OPSLEVEL_API_TOKEN: ${{ secrets.OPSLEVEL_API_TOKEN }}
        run: |-
          task setup
          task generate
      - name: Ensure Changelog
        run: |
          git config user.name "OpsLevel Bots"
          git config user.email "bots@opslevel.com"
          git add enum.go
          git commit -m "Regenerate enum.go"
          git push origin HEAD:bot/enum-gen
          gh pr create --title "Regenerate enum.go" --body "Regenerate enum.go"
